@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="supplier col-xs-8">
    <h2>Error</h2>
    <div class="error well">
        <bold>An error occurred while processing your request...</bold>
        <p>@TempData["UserMessage"]</p>
    </div>
</div>