@{
    ViewBag.Title = "404";
}
<div class="supplier col-xs-8">
    <h2>404 - Not found</h2>
    <div class="error well">
        <bold>Sorry, we couldn't retrive the requested supplier...</bold>
    </div>
</div>
